-- Phase A: Complete Foundation Fix
-- Run this in your Supabase SQL Editor

-- ===================================
-- 1. DATABASE SCHEMA STANDARDIZATION
-- ===================================

-- Ensure SOPs table has all required columns with consistent naming
ALTER TABLE sops 
    ADD COLUMN IF NOT EXISTS content TEXT,
    ADD COLUMN IF NOT EXISTS original_content TEXT,
    ADD COLUMN IF NOT EXISTS university_name TEXT,
    ADD COLUMN IF NOT EXISTS program_name TEXT,
    ADD COLUMN IF NOT EXISTS country VARCHAR(100),
    ADD COLUMN IF NOT EXISTS program_type VARCHAR(100) CHECK (program_type IN ('masters', 'phd', 'undergraduate', 'postdoc')),
    ADD COLUMN IF NOT EXISTS application_deadline DATE,
    ADD COLUMN IF NOT EXISTS sop_title VARCHAR(255),
    ADD COLUMN IF NOT EXISTS word_count INTEGER,
    ADD COLUMN IF NOT EXISTS status TEXT DEFAULT 'draft' CHECK (status IN ('draft', 'final', 'submitted')),
    ADD COLUMN IF NOT EXISTS application_submitted BOOLEAN DEFAULT FALSE,
    ADD COLUMN IF NOT EXISTS submission_date DATE,
    ADD COLUMN IF NOT EXISTS application_notes TEXT,
    ADD COLUMN IF NOT EXISTS form_data JSONB,
    ADD COLUMN IF NOT EXISTS edit_history JSONB DEFAULT '[]',
    ADD COLUMN IF NOT EXISTS updated_at TIMESTAMPTZ DEFAULT NOW(),
    ADD COLUMN IF NOT EXISTS is_featured BOOLEAN DEFAULT FALSE,
    ADD COLUMN IF NOT EXISTS priority_level INTEGER DEFAULT 0,
    ADD COLUMN IF NOT EXISTS tags TEXT[];

-- Handle data migration from old columns if they exist
DO $$
BEGIN
    -- Check if old columns exist and migrate data
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'sops' AND column_name = 'generated_sop') THEN
        UPDATE sops 
        SET content = COALESCE(content, generated_sop),
            original_content = COALESCE(original_content, generated_sop)
        WHERE generated_sop IS NOT NULL;
    END IF;
    
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'sops' AND column_name = 'university') THEN
        UPDATE sops 
        SET university_name = COALESCE(university_name, university)
        WHERE university IS NOT NULL;
    END IF;
    
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'sops' AND column_name = 'program') THEN
        UPDATE sops 
        SET program_name = COALESCE(program_name, program)
        WHERE program IS NOT NULL;
    END IF;
END $$;

-- Set defaults for any NULL values
UPDATE sops SET 
    content = COALESCE(content, 'Generated SOP content'),
    university_name = COALESCE(university_name, 'Unknown University'),
    program_name = COALESCE(program_name, 'Unknown Program'),
    word_count = COALESCE(word_count, CASE WHEN content IS NOT NULL THEN LENGTH(content) / 5 ELSE 0 END)
WHERE content IS NULL OR university_name IS NULL OR program_name IS NULL OR word_count IS NULL;

-- Make essential columns NOT NULL only after setting defaults
DO $$
BEGIN
    -- Only set NOT NULL if the column has data
    IF EXISTS (SELECT 1 FROM sops WHERE content IS NOT NULL LIMIT 1) THEN
        ALTER TABLE sops ALTER COLUMN content SET NOT NULL;
    END IF;
    
    ALTER TABLE sops 
        ALTER COLUMN university_name SET NOT NULL,
        ALTER COLUMN program_name SET NOT NULL;
END $$;

-- ===================================
-- 2. CREATE APPLICATIONS TABLE IF NOT EXISTS
-- ===================================

-- Create applications table with correct foreign key types
DO $$
DECLARE
    sop_id_type text;
    user_id_type text;
BEGIN
    -- Get the actual data type of sops.id
    SELECT data_type INTO sop_id_type 
    FROM information_schema.columns 
    WHERE table_name = 'sops' AND column_name = 'id';
    
    -- Get the actual data type of auth.users.id (or assume UUID)
    user_id_type := 'uuid';
    
    -- Create applications table if it doesn't exist with correct types
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'applications') THEN
        IF sop_id_type = 'bigint' THEN
            EXECUTE format('
                CREATE TABLE applications (
                    id BIGINT PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    sop_id BIGINT REFERENCES sops(id) ON DELETE CASCADE,
                    university_name TEXT NOT NULL,
                    program_name TEXT NOT NULL,
                    country VARCHAR(100),
                    program_type VARCHAR(100) CHECK (program_type IN (''masters'', ''phd'', ''undergraduate'', ''postdoc'')),
                    application_deadline DATE,
                    status TEXT DEFAULT ''not_started'' CHECK (status IN (''not_started'', ''in_progress'', ''submitted'', ''accepted'', ''rejected'', ''waitlisted'')),
                    created_at TIMESTAMPTZ DEFAULT NOW(),
                    updated_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        ELSE
            EXECUTE format('
                CREATE TABLE applications (
                    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    sop_id UUID REFERENCES sops(id) ON DELETE CASCADE,
                    university_name TEXT NOT NULL,
                    program_name TEXT NOT NULL,
                    country VARCHAR(100),
                    program_type VARCHAR(100) CHECK (program_type IN (''masters'', ''phd'', ''undergraduate'', ''postdoc'')),
                    application_deadline DATE,
                    status TEXT DEFAULT ''not_started'' CHECK (status IN (''not_started'', ''in_progress'', ''submitted'', ''accepted'', ''rejected'', ''waitlisted'')),
                    created_at TIMESTAMPTZ DEFAULT NOW(),
                    updated_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        END IF;
    END IF;
END $$;

-- ===================================
-- 3. ENHANCED APPLICATION TRACKING
-- ===================================

-- Enhanced applications table with better tracking
ALTER TABLE applications 
    ADD COLUMN IF NOT EXISTS application_fee DECIMAL(10,2),
    ADD COLUMN IF NOT EXISTS requirements_checklist JSONB DEFAULT '[]',
    ADD COLUMN IF NOT EXISTS documents_uploaded JSONB DEFAULT '{}',
    ADD COLUMN IF NOT EXISTS priority_ranking INTEGER,
    ADD COLUMN IF NOT EXISTS admission_requirements TEXT,
    ADD COLUMN IF NOT EXISTS contact_info JSONB,
    ADD COLUMN IF NOT EXISTS application_portal_url TEXT,
    ADD COLUMN IF NOT EXISTS scholarship_applied BOOLEAN DEFAULT FALSE,
    ADD COLUMN IF NOT EXISTS scholarship_amount DECIMAL(10,2),
    ADD COLUMN IF NOT EXISTS decision_date DATE,
    ADD COLUMN IF NOT EXISTS follow_up_date DATE,
    ADD COLUMN IF NOT EXISTS tags TEXT[];

-- Add application status workflow tracking with correct foreign key types
DO $$
DECLARE
    app_id_type text;
BEGIN
    -- Get the actual data type of applications.id
    SELECT data_type INTO app_id_type 
    FROM information_schema.columns 
    WHERE table_name = 'applications' AND column_name = 'id';
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'application_status_history') THEN
        IF app_id_type = 'bigint' THEN
            EXECUTE format('
                CREATE TABLE application_status_history (
                    id BIGINT PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
                    application_id BIGINT REFERENCES applications(id) ON DELETE CASCADE,
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    previous_status TEXT,
                    new_status TEXT,
                    notes TEXT,
                    changed_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        ELSE
            EXECUTE format('
                CREATE TABLE application_status_history (
                    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
                    application_id UUID REFERENCES applications(id) ON DELETE CASCADE,
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    previous_status TEXT,
                    new_status TEXT,
                    notes TEXT,
                    changed_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        END IF;
    END IF;
END $$;

-- ===================================
-- 4. CREATE SOP_EDITS TABLE IF NOT EXISTS
-- ===================================

-- Create sop_edits table with correct foreign key types
DO $$
DECLARE
    sop_id_type text;
BEGIN
    -- Get the actual data type of sops.id
    SELECT data_type INTO sop_id_type 
    FROM information_schema.columns 
    WHERE table_name = 'sops' AND column_name = 'id';
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'sop_edits') THEN
        IF sop_id_type = 'bigint' THEN
            EXECUTE format('
                CREATE TABLE sop_edits (
                    id BIGINT PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
                    sop_id BIGINT REFERENCES sops(id) ON DELETE CASCADE,
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    edit_type TEXT NOT NULL CHECK (edit_type IN (''manual'', ''ai_improvement'', ''ai_analysis'')),
                    original_text TEXT,
                    edited_text TEXT,
                    position_start INTEGER,
                    position_end INTEGER,
                    created_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        ELSE
            EXECUTE format('
                CREATE TABLE sop_edits (
                    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
                    sop_id UUID REFERENCES sops(id) ON DELETE CASCADE,
                    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
                    edit_type TEXT NOT NULL CHECK (edit_type IN (''manual'', ''ai_improvement'', ''ai_analysis'')),
                    original_text TEXT,
                    edited_text TEXT,
                    position_start INTEGER,
                    position_end INTEGER,
                    created_at TIMESTAMPTZ DEFAULT NOW()
                )
            ');
        END IF;
    END IF;
END $$;

-- ===================================
-- 5. PERFORMANCE INDEXES
-- ===================================

-- Core performance indexes
CREATE INDEX IF NOT EXISTS idx_sops_user_university ON sops(user_id, university_name);
CREATE INDEX IF NOT EXISTS idx_sops_user_deadline ON sops(user_id, application_deadline);
CREATE INDEX IF NOT EXISTS idx_sops_user_updated ON sops(user_id, updated_at DESC);
CREATE INDEX IF NOT EXISTS idx_sops_status_deadline ON sops(status, application_deadline);
CREATE INDEX IF NOT EXISTS idx_sops_country_program ON sops(country, program_type);

-- Application tracking indexes
CREATE INDEX IF NOT EXISTS idx_applications_user_deadline ON applications(user_id, application_deadline);
CREATE INDEX IF NOT EXISTS idx_applications_status_deadline ON applications(status, application_deadline);
CREATE INDEX IF NOT EXISTS idx_applications_user_status ON applications(user_id, status);
CREATE INDEX IF NOT EXISTS idx_applications_priority ON applications(user_id, priority_ranking);

-- Usage tracking indexes (only if table exists)
DO $$
BEGIN
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'user_usage') THEN
        CREATE INDEX IF NOT EXISTS idx_user_usage_month_year ON user_usage(user_id, month_year);
    END IF;
    
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'user_subscriptions') THEN
        CREATE INDEX IF NOT EXISTS idx_user_subscriptions_active ON user_subscriptions(user_id, status) WHERE status = 'active';
    END IF;
END $$;

-- ===================================
-- 6. ENHANCED SEARCH & FILTERING
-- ===================================

-- Add full-text search capabilities
CREATE EXTENSION IF NOT EXISTS pg_trgm;
CREATE INDEX IF NOT EXISTS idx_sops_search ON sops USING gin (
    (university_name || ' ' || program_name || ' ' || COALESCE(content, '')) gin_trgm_ops
);

-- ===================================
-- 7. UTILITY FUNCTIONS
-- ===================================

-- Function to get comprehensive SOP statistics
CREATE OR REPLACE FUNCTION get_user_sop_stats(user_uuid UUID)
RETURNS TABLE (
    total_sops INTEGER,
    draft_sops INTEGER,
    final_sops INTEGER,
    submitted_applications INTEGER,
    pending_deadlines INTEGER,
    overdue_deadlines INTEGER,
    countries_applied INTEGER,
    avg_word_count INTEGER,
    most_recent_activity TIMESTAMPTZ
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        COUNT(*)::INTEGER as total_sops,
        COUNT(*) FILTER (WHERE status = 'draft')::INTEGER as draft_sops,
        COUNT(*) FILTER (WHERE status = 'final')::INTEGER as final_sops,
        COUNT(*) FILTER (WHERE application_submitted = true)::INTEGER as submitted_applications,
        COUNT(*) FILTER (WHERE application_deadline >= CURRENT_DATE AND application_submitted = false)::INTEGER as pending_deadlines,
        COUNT(*) FILTER (WHERE application_deadline < CURRENT_DATE AND application_submitted = false)::INTEGER as overdue_deadlines,
        COUNT(DISTINCT country)::INTEGER as countries_applied,
        AVG(word_count)::INTEGER as avg_word_count,
        MAX(updated_at) as most_recent_activity
    FROM sops
    WHERE user_id = user_uuid;
END;
$$ LANGUAGE plpgsql;

-- Function to get application dashboard data
CREATE OR REPLACE FUNCTION get_application_dashboard(user_uuid UUID)
RETURNS TABLE (
    sop_id BIGINT,
    university_name TEXT,
    program_name TEXT,
    country TEXT,
    program_type TEXT,
    application_deadline DATE,
    status TEXT,
    word_count INTEGER,
    created_at TIMESTAMPTZ,
    updated_at TIMESTAMPTZ,
    days_until_deadline INTEGER,
    deadline_status TEXT
) AS $$
DECLARE
    sop_id_type text;
BEGIN
    -- Get the actual data type of sops.id to return correct type
    SELECT data_type INTO sop_id_type 
    FROM information_schema.columns 
    WHERE table_name = 'sops' AND column_name = 'id';
    
    RETURN QUERY
    SELECT 
        s.id::BIGINT as sop_id,
        s.university_name,
        s.program_name,
        s.country,
        s.program_type,
        s.application_deadline,
        s.status,
        s.word_count,
        s.created_at,
        s.updated_at,
        CASE 
            WHEN s.application_deadline IS NULL THEN NULL
            ELSE (s.application_deadline - CURRENT_DATE)::INTEGER
        END as days_until_deadline,
        CASE 
            WHEN s.application_deadline IS NULL THEN 'no_deadline'
            WHEN s.application_deadline < CURRENT_DATE THEN 'overdue'
            WHEN s.application_deadline <= CURRENT_DATE + INTERVAL '30 days' THEN 'urgent'
            WHEN s.application_deadline <= CURRENT_DATE + INTERVAL '90 days' THEN 'upcoming'
            ELSE 'distant'
        END as deadline_status
    FROM sops s
    WHERE s.user_id = user_uuid
    ORDER BY 
        CASE WHEN s.application_deadline IS NULL THEN 1 ELSE 0 END,
        s.application_deadline ASC,
        s.updated_at DESC;
END;
$$ LANGUAGE plpgsql;

-- ===================================
-- 8. ENHANCED RLS POLICIES
-- ===================================

-- Ensure all tables have proper RLS
ALTER TABLE sops ENABLE ROW LEVEL SECURITY;
ALTER TABLE applications ENABLE ROW LEVEL SECURITY;
ALTER TABLE sop_edits ENABLE ROW LEVEL SECURITY;
ALTER TABLE application_status_history ENABLE ROW LEVEL SECURITY;

-- Create comprehensive policies if they don't exist
DO $$
BEGIN
    -- SOPs policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'sops' AND policyname = 'sop_all_access_policy') THEN
        CREATE POLICY "sop_all_access_policy" ON sops
            FOR ALL USING (auth.uid() = user_id);
    END IF;

    -- Applications policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'applications' AND policyname = 'app_all_access_policy') THEN
        CREATE POLICY "app_all_access_policy" ON applications
            FOR ALL USING (auth.uid() = user_id);
    END IF;

    -- SOP edits policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'sop_edits' AND policyname = 'edit_all_access_policy') THEN
        CREATE POLICY "edit_all_access_policy" ON sop_edits
            FOR ALL USING (auth.uid() = user_id);
    END IF;

    -- Application status history policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'application_status_history' AND policyname = 'status_history_policy') THEN
        CREATE POLICY "status_history_policy" ON application_status_history
            FOR ALL USING (auth.uid() = user_id);
    END IF;
END $$;

-- ===================================
-- 9. AUTOMATED TRIGGERS
-- ===================================

-- Enhanced updated_at trigger
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    
    -- Auto-calculate word count if content changed
    IF TG_TABLE_NAME = 'sops' AND OLD.content IS DISTINCT FROM NEW.content THEN
        NEW.word_count = array_length(string_to_array(trim(NEW.content), ' '), 1);
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Apply triggers
DROP TRIGGER IF EXISTS update_sops_updated_at ON sops;
CREATE TRIGGER update_sops_updated_at 
    BEFORE UPDATE ON sops 
    FOR EACH ROW 
    EXECUTE FUNCTION update_updated_at_column();

DROP TRIGGER IF EXISTS update_applications_updated_at ON applications;
CREATE TRIGGER update_applications_updated_at 
    BEFORE UPDATE ON applications 
    FOR EACH ROW 
    EXECUTE FUNCTION update_updated_at_column();

-- ===================================
-- 10. DATA VALIDATION & CLEANUP
-- ===================================

-- Clean up any inconsistent data
UPDATE sops SET 
    word_count = CASE 
        WHEN content IS NOT NULL THEN array_length(string_to_array(trim(content), ' '), 1)
        ELSE 0
    END
WHERE word_count IS NULL OR word_count = 0;

-- Set default titles for SOPs without titles
UPDATE sops SET 
    sop_title = university_name || ' - ' || program_name
WHERE sop_title IS NULL;

-- ===================================
-- 11. GRANT PERMISSIONS
-- ===================================

-- Grant function execution permissions
GRANT EXECUTE ON FUNCTION get_user_sop_stats(UUID) TO authenticated;
GRANT EXECUTE ON FUNCTION get_application_dashboard(UUID) TO authenticated;
GRANT EXECUTE ON FUNCTION update_updated_at_column() TO authenticated;

-- Refresh schema cache
NOTIFY pgrst, 'reload schema';

-- ===================================
-- 12. VERIFICATION
-- ===================================

-- Show updated table structures
SELECT 'SOPs table structure:' as info;
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'sops' 
ORDER BY ordinal_position;

SELECT 'Applications table structure:' as info;
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'applications' 
ORDER BY ordinal_position;

SELECT 'Phase A Foundation Fix completed successfully!' as result;
