-- Ensure the email_cache column exists in admin_users table

-- Add the email_cache column if it doesn't exist
ALTER TABLE public.admin_users ADD COLUMN IF NOT EXISTS email_cache TEXT;

-- Update existing records with emails
UPDATE public.admin_users au
SET email_cache = (
  SELECT email 
  FROM auth.users 
  WHERE id = au.user_id
)
WHERE au.email_cache IS NULL;
